In [1]:
import os
import time
import pandas as pd

In [3]:
os.chdir('C:\\Users\\Lenovo\\Desktop\\Python批量处理excel表格\\Python+excel\\源数据128张表格')

In [4]:
name = '垂钓装备&绑钩器.xlsx'
df = pd.read_excel(name)
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1

In [5]:
df['日期'].unique()

array(['2019-08', '2019-07', '2019-06', '2019-05', '2019-04', '2019-03',
       '2019-02', '2019-01', '2018-12', '2018-11', '2018-10', '2018-09'],
      dtype=object)

In [6]:
df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌            销售额
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947

In [7]:
df_sum = df.groupby('品牌')['销售额'].sum().reset_index()
df_sum.head()

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507
3  品牌-12  485635.295843
4  品牌-13  438391.195855

In [8]:
df_sum['行业'] = name.replace('.xlsx','')
df_sum.head()

      品牌            销售额        行业
0   品牌-1  529837.745358  垂钓装备&绑钩器
1  品牌-10  217976.661847  垂钓装备&绑钩器
2  品牌-11  327093.079507  垂钓装备&绑钩器
3  品牌-12  485635.295843  垂钓装备&绑钩器
4  品牌-13  438391.195855  垂钓装备&绑钩器